/*.App {
  text-align: center;
}

 .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  font-family: segoe-ui_normal, Segoe UI, Segoe, Segoe WP, Helvetica Neue,
    Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 15% 1fr 18%;
  grid-gap: 5px;
  height: 100vh;
}

header {
  background: #707070;
  grid-area: header;
}

nav {
  background: #c9bfbf;
  grid-area: nav;
  text-align: right;
}

section {
  background: #ababab;
  grid-area: section;
}

aside {
  background: #c9c9c9;
  grid-area: aside;
}

footer {
  background: #707070;
  grid-area: footer;
}

header,
nav,
section,
aside,
footer {
  padding: 15px;
}

.navItem a {
  color: grey;
  text-decoration: none;
}

.navItem a.activeLink {
  color: brown;
}

.App-logo {
  object-fit: cover;
  width: 80px;
  max-height: 100%;
}

.project {
  padding: 30px;
}
